@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Manrope:regular);
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
} /*Крестик в поле input браузера IE отключен*/
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
} /*Отступы кнопок браузера Firefox 0*/
a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*----------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: Manrope;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  margin: 0 auto;
}

.container {
  width: 1150px;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
}

.header {
  max-width: 100vw;
  margin: 0 auto;
  height: 60px;
  background-color: #fff;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32.82px auto 0 auto;
  width: 1151.35px;
  height: 25.18px;
}

.header__logo {
  width: 126.89px;
  height: 21.42px;
}

.header__menu {
  text-transform: uppercase;
  color: #121212;
}

.header__menu a {
  margin: 0 60px 0 0;
  color: #121212;
}
.header__menu a:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  opacity: 0.5;
}
.header__menu a:last-child {
  margin-right: 0;
}

.main {
  margin: 70px auto 0 auto;
}

.whitespace {
  background-color: #fff;
}

h1 {
  font-size: 60px;
  line-height: 60px;
}

.picture {
  min-width: 1150px;
  min-height: 500px;
  position: relative;
  margin: 30px auto 0 auto;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}

.picture img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.picture__text {
  position: absolute;
  width: 430px;
  height: 81px;
  bottom: 40px;
  left: 40px;
  color: white;
  font-size: 20px;
  line-height: 27px;
}

.cards {
  margin: 150px 0 0 0;
}
.cards a {
  margin: 15px 0 0 0;
  font-size: 20px;
  line-height: 27px;
  color: #AD1818;
}
.cards image img :first-child {
  margin-top: 0;
}

.white__subtitle {
  margin: 150px 0 0 0;
  text-transform: uppercase;
  color: #121212;
}
.white__subtitle :first-child {
  margin-top: 0;
}

.cards__text {
  width: 1048px;
  height: 366px;
  margin: 30px 0 0 0;
  font-size: 43px;
  line-height: 61px;
}

.btn {
  margin: 30px 0 0 0;
}
.btn button {
  width: 255px;
  height: 67px;
  background-color: #AD1818;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  line-height: 27px;
}

.image {
  margin: 30px 0 0 0;
}

.image__box {
  margin: 30px 0 0 0;
}
.image__box img {
  margin: 90px 0 0 0;
}

.description {
  margin: 15px 0 0 0;
  font-size: 30px;
  line-height: 41px;
  color: #121212;
}

.bigbtn a button {
  margin: 90px 0 150px 0;
  width: 1150px;
  height: 153px;
  border-radius: 5px;
  border: 1px solid #AD1818;
  color: #AD1818;
  font-size: 30px;
  line-height: 41px;
  background-color: transparent;
}
.bigbtn a button:hover {
  background-color: #AD1818;
  color: white;
}

.darkspace {
  margin: 0 0 0 0;
  padding: 151px 0 0 0;
  background-color: #000;
  color: white;
}
.darkspace .projectbox__container .projectbox:first-child {
  margin: 0 0 0 0;
}
.darkspace .projectbox__container .projectbox:last-child {
  padding: 0 0 150px 0;
}

.dark__subtitle p {
  margin: 0 0 34px 0;
  text-transform: uppercase;
}

.projectbox {
  margin: 60px 0 0 0;
}

.progectimage img {
  max-width: 1150px;
  max-height: 270px;
}

.projecdescription {
  margin: 15px 0 0 0;
  font-size: 30px;
  line-height: 41px;
}

.bigpicture {
  margin: 0 auto;
  max-width: 1400px;
  height: 717px;
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0.52%, rgba(0, 0, 0, 0.4) 82.81%);
}
.bigpicture img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bigpicture__text {
  position: absolute;
  width: 443px;
  height: 82px;
  bottom: 60px;
  left: 125px;
  color: white;
  font-size: 30px;
  line-height: 41px;
}

.footer__contact {
  margin: 151px 0 0 0;
  text-transform: uppercase;
  color: #121212;
}
.footer__contact img {
  width: 13px;
  height: 22px;
}
.footer__contact p {
  margin: 13px 0 0 0;
}

.connection {
  display: block;
  position: relative;
  margin: 32px 0 0 0;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
}
.connection a {
  color: #121212;
  margin: 30px 0 0 0;
}
.connection p {
  display: block;
}
.connection p:last-child {
  display: inline-block;
  position: relative;
  text-transform: lowercase;
  opacity: 0.5;
}
.connection p:last-child ::after {
  content: "";
  position: absolute;
  width: 406px;
  bottom: -10px;
  height: 2px;
  left: 0;
  background-color: #121212;
  margin: 0px 0px 0px 0;
}

.footer__footer {
  background-color: #000;
}

.footermenu {
  margin: 160px 0 0 0;
  padding: 60px 0 0 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.footermenu :nth-child(2) {
  margin: 0 56px 0 0;
}
.footermenu :nth-child(3) {
  margin: 0 55px 0 0;
}
.footermenu a {
  color: #fff;
}
.footermenu a:first-child {
  margin: 0 53px 0 0;
  opacity: 0.5;
}

.footercopyrights {
  margin: 87px 0 0 0;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}
.footercopyrights p {
  opacity: 0.5;
}/*# sourceMappingURL=index.css.map */